/* 
  @author: Dedaldino4dev@gmail.com
  @Github: https://github.com/dedaldinodev4

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
button {
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.menu__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}


/* Footer */
.footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

.footer__section:not(:first-child) {
  border-top: 1px solid #e4e4e4;
}

.footer__location {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  padding: 10px 12px;
}

.footer__links{
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 13px;
  color: #5f6368;
  padding: 10px;
}

.footer__links a {
  cursor: pointer;
  text-decoration: none;
  color: #5f6368;
  font-weight: bold;
}

.footer__links a:not(:first-child) {
  margin-left: 27px;
}